@model CutList.Models.ViewModels.WorkOrderViewModel

@{
    ViewData["Title"] = "Upsert";
    var title = "Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@title</h1>

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2 backgroundWhite border p-2">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <!-- if editing -->
        @if (Model.WorkOrder.WorkOrderId != 0)
        {
            <input type="hidden" asp-for="WorkOrder.WorkOrderId" />
            //change title if editing
            title = "Edit " + @title;
        }
        else
        {
            //<input type="hidden" asp-for="ProjectId" />
            //change title if creating
            title = "Create " + @title;
        }

        <div class="col-12">
            <!-- dynamic title of page -->
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <!-- project dropdown options -->
        <div class="col-8 offset-1 pb-3">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="WorkOrder.ProjectId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="WorkOrder.ProjectId" asp-items="Model.ProjectsList" class="form-control" onclick="showWireColours()">
                        <option value="" disabled selected>Choose related project..</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- boolean toggles -->
        <div class="col-12 offset-1 pb-3">
            @*<div class="form-group row">*@
            <div class="form-group row custom-control custom-switch col-4 offset-1">
                <input type="checkbox" class="custom-control-input" asp-for="WorkOrder.HeatSink">
                <label class="custom-control-label" asp-for="WorkOrder.HeatSink"></label>
            </div>
            <div class="form-group row custom-control custom-switch col-4 offset-1">
                <input type="checkbox" class="custom-control-input" asp-for="WorkOrder.Tinned">
                <label class="custom-control-label" asp-for="WorkOrder.Tinned"></label>
            </div>
            <div class="form-group row custom-control custom-switch col-4 offset-1">
                <input type="checkbox" class="custom-control-input" asp-for="WorkOrder.SpecialPhase" onclick="showWireColours()">
                <label class="custom-control-label" asp-for="WorkOrder.SpecialPhase"></label>
            </div>
            @*</div>*@
        </div>

        <!-- enum dropdown options -->
        <div class="col-8 offset-1">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="WorkOrder.SilverLabel" class="control-label"></label>
                </div>
                <div class="col-8">
                    @*<input asp-for="WorkOrder.SilverLabel" class="form-control"/>*@
                    <select asp-for="WorkOrder.SilverLabel" asp-items="Html.GetEnumSelectList<CutList.Utility.CutListEnums.SilverLabel>()" class="form-control">
                        <option value="" disabled selected>Choose ...</option>
                    </select>
                    <span asp-validation-for="WorkOrder.SilverLabel" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="col-8 offset-1" id="phaseLabelVisable">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="WorkOrder.PhaseLabel" class="control-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="WorkOrder.PhaseLabel" asp-items="Html.GetEnumSelectList<CutList.Utility.CutListEnums.PhaseLabel>()" class="form-control">
                        <option value="" disabled selected>Choose ...</option>
                    </select>
                    <span asp-validation-for="WorkOrder.PhaseLabel" class="text-danger"></span>
                </div>
            </div>
        </div>


       

            <div class="col-8 offset-1" id="wireColoursN">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="WorkOrder.Neutral" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="WorkOrder.Neutral" asp-items="Html.GetEnumSelectList<CutList.Utility.CutListEnums.WireColours>()" class="form-control">
                            <option value="" disabled selected>Choose ...</option>
                        </select>
                        <span asp-validation-for="WorkOrder.Neutral" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-8 offset-1" id="wireColoursL1">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="WorkOrder.L1" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="WorkOrder.L1" asp-items="Html.GetEnumSelectList<CutList.Utility.CutListEnums.WireColours>()" class="form-control">
                            <option value="" disabled selected>Choose ...</option>
                        </select>
                        <span asp-validation-for="WorkOrder.L1" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-8 offset-1" id="wireColoursL2">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="WorkOrder.L2" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="WorkOrder.L2" asp-items="Html.GetEnumSelectList<CutList.Utility.CutListEnums.WireColours>()" class="form-control">
                            <option value="" disabled selected>Choose ...</option>
                        </select>
                        <span asp-validation-for="WorkOrder.L2" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-8 offset-1" id="wireColoursL3">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="WorkOrder.L3" class="control-label"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="WorkOrder.L3" asp-items="Html.GetEnumSelectList<CutList.Utility.CutListEnums.WireColours>()" class="form-control">
                            <option value="" disabled selected>Choose ...</option>
                        </select>
                        <span asp-validation-for="WorkOrder.L3" class="text-danger"></span>
                    </div>
                </div>
            </div>

       




        @*<div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" asp-for="WorkOrder.HeatSink">
                <label class="custom-control-label" asp-for="WorkOrder.HeatSink"></label>
            </div>*@

        <!-- amp values -->
        <div class="col-8 offset-1">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="WorkOrder.BarAmps" class="control-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="WorkOrder.BarAmps" class="form-control" />
                    <span asp-validation-for="WorkOrder.BarAmps" class="test-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-8 offset-1">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="WorkOrder.AmpValue" class="control-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="WorkOrder.AmpValue" asp-items="Html.GetEnumSelectList<CutList.Utility.CutListEnums.AmpValues>()" class="form-control">
                        <option value="" disabled selected>Choose ...</option>
                    </select>
                    <span asp-validation-for="WorkOrder.AmpValue" class="text-danger"></span>
                </div>
            </div>
        </div>


        <!-- job notes -->
        <div class="col-8 offset-1">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="WorkOrder.JobNotes"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="WorkOrder.JobNotes" class="form-control"></textarea>
                    <span asp-validation-for="WorkOrder.JobNotes" class="text-danger"></span>
                </div>
            </div>
        </div>


        <!-- buttons -->
        <div class="col-8 offset-1">
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.WorkOrder.ProjectId != 0)
                    {
                        //edit button and back to list
                        <partial name="_EditAndBackToListButton" model="Model.WorkOrder.WorkOrderId" />

                    }
                    else
                    {
                        //create button and back to list
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Scripts to control what is shown on the screen -->
<!--  (phaseLabelVisable).show();   -->

<!--   -->
@section Scripts{

    <script>
        $(document).ready(
            function showWireColours1() {
                //above 'asp-for="property"' will set the id to the property. So WorkOrder_SpecialPhase
                //if checked show wire colour options and hide phase label option
            if(WorkOrder_SpecialPhase.checked == true) {
                $(wireColoursN).show();
                $(wireColoursL1).show();
                $(wireColoursL2).show();
                $(wireColoursL3).show();
                $(phaseLabelVisable).hide();
            } else {
                $(wireColoursN).hide();
                $(wireColoursL1).hide();
                $(wireColoursL2).hide();
                $(wireColoursL3).hide();
                $(phaseLabelVisable).show();
            }
            });

        function showWireColours() {

            if(WorkOrder_SpecialPhase.checked == true) {
                $(wireColoursN).show();
                $(wireColoursL1).show();
                $(wireColoursL2).show();
                $(wireColoursL3).show();
                $(phaseLabelVisable).hide();
            } else {
                $(wireColoursN).hide();
                $(wireColoursL1).hide();
                $(wireColoursL2).hide();
                $(wireColoursL3).hide();
                $(phaseLabelVisable).show();
            }
        };

    </script>
}